<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IArduinoSelfHost" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SerialSwitch" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IArduinoSelfHost" contract="SerialSwitchService.IArduinoSelfHost"
                name="BasicHttpBinding_IArduinoSelfHost" />
        </client>
    </system.serviceModel>
</configuration>